@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700&family=Rubik:wght@400;500;600;700&display=swap');
@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@font-face {
  font-family: 'Kagitingan';
  src: url('/fonts/(v2)-Kagitingan-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@theme inline {
  --color-primary: #62B6CB;
  --color-secondary: #1B4965;
  --color-accent: #BEE9E8;
  --color-success: #10B981;
  --color-warning: #FBBF24;
  --color-error: #FF6B6B;
  --color-neutral-50: #CAE9FF;
  --color-neutral-100: #CAE9FF;
  --color-neutral-400: #5FA8D3;
  --color-base: #102B3C;
  --font-logo: 'Kagitingan', sans-serif;
}

html {
  scrollbar-gutter: stable;
}

body {
  background: var(--color-base);
  color: var(--color-neutral-50);
  font-family: "Karla", Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Rubik", Arial, sans-serif;
}

.leaflet-popup-content-wrapper {
  color: var(--color-base);
}
